@charset "UTF-8";
* {
    font-family: 'Aboreto', Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to bottom,#FFD2A2, #FFD2A2,#FFD2A2);
}

main {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow:3px 3px 3px rgba(0, 0, 0, 0.411);
    width: 800px;
    height: 800px;
    padding: 10px;
    margin: auto;
    text-align: center;
}

h1{
    background-image: linear-gradient(to bottom, #ffd2a2, white, #ffd2a2);
    background-color: #ff55009c;
    border-radius: 2px;
    width: 300px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.301);
    color:rgb(36, 14, 14);
    text-align: center;
    font-family:'Aboreto','Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: lighter; 
    margin: auto;  
    


}
h2{
    background-image: linear-gradient(to bottom, #ffd2a2, white);
    background-color: #FFD2A2;
    border-radius: 2px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.411);
    color: rgb(36, 14, 14);
    width: 300px;
    font-family: 'Aboreto', sans-serif ;
    margin: auto;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;

}
h3{
    background-image: linear-gradient(to bottom,rgb(248, 117, 29),);
    border-radius: 2px;
    box-shadow: 1px 1px 5px black;
    color:black;
    width: 150px;   
}
h3#prim {
    width: 215px;
}
h3#sec {
    width: 80px;
}
p{
    text-align: justify;


}
p#ali{
    text-align: center;
}
div{
    text-align: center;
}
div#space{
    text-align: center;
    margin: auto;
}
